.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#npoTable_wrapper {
  width: 100vw;
  overflow-x: auto;
}

#npoTable tbody tr td {
  height: 25px;
  line-height: 25px;
}


label{
  color:#f3eded;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
}

.grid-container{
  display: grid;
}

main{
 
  max-width: 69%;
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
}

main .card{
  
  
  
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 210px;
  text-align: center;
  min-width: 250px;
  max-width: 250px;
  height: 350px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow:2px 2px black;
  margin: 20px;
  background-color:#6b6b6b;
  padding: 15px;
  justify-content: space-evenly;
  vertical-align: center;
  align-content: space-evenly;
  

}


main .card:hover{
  box-shadow: 2px 2px #210891;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.npo_type{
  background-color:#fd0000;
  text-transform:uppercase;
  vertical-align:bottom;
  justify-content: space-between;
  font-weight: 400;
  
}



.add-npo-box{
  display:flex;
  background-color:#74c9e6cc;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 600px;
  align-items:center;
  justify-content:center;
}

.title {
  color:#211683;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color:#c4c4c4;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(39, 39, 39);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color:#353839;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color:#464646;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color:#291e92;
}

.submit {
  background-color:#291e92;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color:#1afc52;
}


.npo-form{
  background-color:#333333;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}



svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

i{
  font-size: 24px;
}



.input-open{
  width: 5px;
  padding: 0;

}

.search-wrapper{
  display: flex;
}

.navigation-links-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navigation-links-text1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-text2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-text3 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-text4 {
    margin-left: var(--dl-space-space-twounits);
  }

  h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#FFFFFF;
  }

  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#ffffff;
  }
  
  
   
  @media(max-width: 767px) {
    .navigation-links-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .navigation-links-text {
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links-text1 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links-text2 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links-text3 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links-text4 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #b0a0a0;
    margin: 0;
  }

  .home-header {

    background-color:#f38282;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: space-evenly;
  }
  .home-image {
    width: 250px;
    height: 76px;
    margin: var(--dl-space-space-unit);
    align-self: flex-start;
    object-fit: cover;
  }
  .home-link {
    color: #ffffff;
    font-size: 18px;
    transition: 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .home-link:hover {
    color: #501005;
  }
  .home-link1 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .home-link1:hover {
    color: #f73333;
  }
  .home-text:hover {
    color: #f73333;
  }
  .home-link2 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .home-link2:hover {
    color: #f73333;
  }
  .home-icon-group {
    display: flex;
  }
  .home-burger-menu {
    display: none;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: flex;
  }
  .home-icon02 {
    fill: #f3eded;
    width: 42px;
    height: 31px;
    transition: 0.3s;
  }
  .home-icon02:hover {
    fill: #ff0000;
  }
  .home-select {
    width: 168px;
    height: 38px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-button {
    color: #f5efef;
    margin: var(--dl-space-space-unit);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    
    background-color: #291e92;
  }

  .login-button{

    color: #f5efef;
    margin: var(--dl-space-space-unit);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    
    background-color: #999984;
  }

  .general-button{

    color: #f5efef;
    margin: var(--dl-space-space-unit);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    
    background-color: #ff0000;
  }

  .general-button:hover{
    background-color:#ff0000;
  }

  .resource-buttons{
    align-self: center;
    padding: 20px;
    width: 100%;
    
    
  }

  .admin-button{

    color: #f5efef;
    margin: var(--dl-space-space-unit);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    align-self: center;
    font-style: normal;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    
    background-color: #4abdac;
  }

  .admin-button:hover{
    background-color:#ff0000;
  }
 
  .home-button:hover {
    background-color: #ff0000;
  }
  .home-icon04 {
    fill: #ffffff;
    width: 50px;
    height: 35px;
    transition: 0.3s;
  }
  .home-icon04:hover {
    fill: #5d33f7;
  }
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-image1 {
    height: 2rem;
  }

  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
 
  
  .home-container2 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container3 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  @media(max-width: 767px) {
    .home-header {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    }
  
  @media(max-width: 479px) {
    .home-header {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu {
      padding: 16px;
    }
    .home-learning {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
  }

  